.Rhistory
restaurant-script/documents
*.pyc
restaurant-script
experiment1
experiment1-writeup
frisem
frisem-practice-cocolab-meeting
experiment2-writeup
data-processing
data-collection
experiment3-writeup/scripts/nachos.py
experiment3-writeup/scripts/readers.py
experiment3-writeup/scripts/model.py
experiment3-writeup/scripts/score.py
experiment3-writeup/scripts/cloze.py
experiment3-writeup/scripts/accumulate.py
experiment3-writeup/scripts/utils.py
experiment3-writeup/scripts/tmp
experiment3-writeup/scripts/*.pyc
experiment3-writeup/scripts/tmp.json
experiment3-writeup/data/training-corpora
experiment3-writeup/data/cloze-tests
local-nachos